* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    /* border: solid 2px red; */
}

:root {
    --cor-base: #ffffff;
    --cor-secundaria: #e8ecff;
    --cor-fundo: #E0E8FF;
    --cor-texto-1: #263058;
}

.darkmode {
    --cor-base: #0F0F1A;
    --cor-secundaria: #1A1A2E;
    --cor-fundo: #0F1A2D;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: url(imagens/pattern-background-desktop.svg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--cor-fundo);
}

img {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;

}

p {
    margin: 10px;
    max-width: 300px;
    color: rgba(90, 90, 90, 0.85);
}

h1 {
    color: var(--cor-texto-1);
}

h4 {
    color: #313D5B;
}

.container {
    background-color: var(--cor-base);
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container2 {
    padding: 10%;
    padding-top: 5%;
}

.container3 {
    background-color: var(--cor-secundaria);
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 4%;
}

.container3  a{
    color: #382AE1;
    font-weight: bold;
}

.container3 div {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: 8px;
}

.container3 div h4:last-of-type{
    color: rgba(49, 61, 91, 0.85);
}

.pagar {
    background-color: #382AE1;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease;
}

.pagar:hover {
    transform: scale(1.04);
}

.voltar {
    color: rgba(90, 90, 90, 1);
    text-decoration: none;
    display: flex ;
    justify-content: center;
    align-items: center;    
    margin-top: 10px;
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    top: 20px;
    border: none;
    transition: transform 0.5s ease;
    cursor: pointer;
}

#theme-switch:hover {
    transform: scale(1.2);
}

#theme-switch svg {
    fill: var(--cor-texto-1);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}